blinker==1.9.0
bcrypt
click==8.3.1
Flask==3.1.2
flask-cors==6.0.2
flask-limiter
Flask-SQLAlchemy==3.1.1
gunicorn
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
networkx==3.6.1
python-dotenv==1.2.2
SQLAlchemy==2.0.45
typing_extensions==4.15.0
Werkzeug==3.1.5
